@import "partials/base";

body {
  margin-top: 10px;
}
ul {
  padding: 0px;
}

li {
  border: 1px solid #ddd;
  width: 280px; 
  margin: 10px;
  padding: 5px;
  background-color: #faeaef;
  list-style: none;
}

#scrapbook{
  min-height: 100px; 
}

#page{
  min-height: 100px; 
  border: 1px dotted #bbb;
}

li.full{
 width: 580px; 
}



