@import "partials/base";

body {
  margin-top: 10px;
}
ul {
  padding: 0px;
}

li {
  background-color: #EAF3E2;
  border: 1px solid #D4E6C6;
  width: 280px; 
  margin-bottom: 10px;
  padding: 8px;
  list-style: none;
  h2 {
    display: inline;
    margin: 0;
  }
  img {
    float: right;
    cursor: move;
  }
  &.full{
   width: 572px; 
  }
}

#scrapbook{
  min-height: 100px; 
}

#page{
  min-height: 100px; 
  border: 1px dotted #bbb;
  padding: 10px;
  li {
   background-color: #DFF2FB; 
  }
  li.placeholder{
    border: 1px dotted #ddd;
    background-color: #FFFBEA;
    width: 572px;
  }
  
}


