.span-16
  %h1 Page
  %ul#page
  
.span-8.last
  %h1 Scrapbook
  %ul#scrapbook
    = render @blobs

:javascript
  $(function() {
    $("#scrapbook li").draggable({
      appendTo: "body",
      helper: "clone",
      connectToSortable: '#page',
      opacity: 0.6,
      revert: 'invalid',
      revertDuration: 200,
      handle: 'img'
    });
    
    $("#page").droppable({
      drop: function(event, ui){
        ui.draggable.addClass("full");
        ui.draggable.appendTo($(this));
      }
    }).sortable({
      axis: 'y',
      containment: "#page",
      tolerance: 'pointer',
      placeholder: 'placeholder',
      forcePlaceholderSize: true,
      handle: 'img'
    });
    
  });